{% extends 'registration/login.html' %}

{% block title %} Logout {% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-color: #3498db; color: #fff; padding: 5px; border-radius: 30px">
    <h1>Welcome to Our Awesome Platform!!!</h1>
    <h5>Unlock amazing features by registering or logging in</h5><br>
    <h3>Success is not final, failure is not fatal: It is the courage to continue that counts.</h3>
    <h5>By- Winston Churchill</h5>
</div>
    
<div class="logout-container">
    <h1 class="mt-4">You are now logged out!</h1>
    
    <p>Thank you for visiting our platform. While you're logged out, you can still explore the exciting opportunities that await you:</p>
    
    <ul>
        <li>Discover new Android apps and earn points by downloading them.</li>
        <li>Show your achievements by uploading screenshots of the apps you've downloaded.</li>
        <li>Stay connected with our community and get updates on the latest rewards and challenges.</li>
    </ul>

    <p>Ready to earn more points? Log in or register now to continue your journey!</p>

    <div class="button-container">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
        <a href="{% url 'register' %}" class="btn btn-info">Register</a>
    </div>
</div>
{% endblock %}